<table>
  <tr>
    <th>Name</th>

  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <td><% @figure.landmarks.each do |lm| %></td>
    <td><%= lm.name %></td>
    <% end %>

  </tr>
<table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>
